<ion-view view-title="Record harvests">
    <ion-content>
        <form ng-submit="">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Crop</span>
                    <input type="text">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Quantity</span>
                    <input type="number" placeholder="Enter quantity in kilograms" min="0">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Submit harvest</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>


