<ion-view view-title="Store">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <p>
                    Laikipia group
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Talk to contractor
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share with farmers
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>