<ion-view view-title="Contract a group of farmers">
    <ion-content>
        <label class="item item-input item-select">
            <div class="input-label">
                Select a crop
            </div>
            <select>
                <option>Maize</option>
                <option>Cassava</option>
                <option>Potatoes</option>
                <option>Simsim</option>
                <option>Tomatoes</option>
                <option>Onions</option>
            </select>
        </label>
        <div class="list card">
            <div class="item item-body">
                <p>Kolokolo group</p>
                <p>8 farmers</p>
                <p>Location - Kitale</p>
                <p>Crops planted - Beans, maize, cabbages</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Contract group
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <p>Catapillar group</p>
                <p>15 farmers</p>
                <p>Location - Nyanza</p>
                <p>Crops planted - Beans, maize, cabbages</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Contract group
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <p>Mulika group</p>
                <p>11 farmers</p>
                <p>Location - Nyeri</p>
                <p>Crops planted - Beans, maize, cabbages</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Contract group
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
