<ion-view view-title="New contracts">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <p>
                    Hey, I want 60kg of maize produce, and I have seen your team is well equiped. Are you in a position to grow the maize for me?
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Talk to contractor
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Engage with group
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
