<ion-view view-title="Register a buyer">
    <ion-content>
        <form novalidate="true">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Names</span>
                    <input type="text">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mobile phone</span>
                    <input type="text">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email address</span>
                    <input type="email">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Organization</span>
                    <input type="text">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address</span>
                    <input type="text">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Register</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>