<ion-view view-title="Register a farmer">
    <ion-content>
        <form ng-submit="">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Farmer's names</span>
                    <input type="text">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mobile phone</span>
                    <input type="text">
                </label>
                <h4 style="margin-left: 16px;">Crops the farmer grows</h4>
                <ul class="list">
                    <li class="item item-checkbox">
                        <label class="checkbox"><input type="checkbox"></label>
                        Maize
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox"><input type="checkbox"></label>
                        Potatoes
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox"><input type="checkbox"></label>
                        Cassava
                    </li>
                </ul>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Register</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>


